---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import IndexHeader from '../components/home/IndexHeader.vue';
import Card from '../components/Card.astro';
const pageTitle = '首页'
---


<Layout title={pageTitle}>
    <h1>{pageTitle}</h1>
    <IndexHeader client:load />
</Layout>

